/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the container */
body {
    font-family: Arial, sans-serif;
    background-color: #5757a7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(252, 249, 249);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(130, 231, 206, 0.1);
    width: 700px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6aee70;
}

/* Styling the notes */
#notesList {
    margin-top: 50px;
    text-align: left;
}

.note {
    background-color: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note p {
    margin-right: 10px;
    flex: none;
}

.deleteBtn {
    background-color: #f44336;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #df1515;
}
